@model Character 
@* Accedemos al modelo considerando que es una lista *@

<h2>Detalles del personaje</h2>
<p><strong>ID:</strong> @Model.id</p>
<p><strong>Nombre:</strong> @Model.name</p>
<p><strong>Tipo:</strong> @Model.type</p>
<p><strong>Puntos de vida:</strong> @Model.HP</p>
<p><strong>Peso:</strong> @Model.WEIGHT</p>
<p><strong>Velocidad:</strong> @Model.SPEED</p>
<p><strong>Ataque:</strong> @Model.ATTACK</p>
<p><strong>Defensa:</strong> @Model.DEFENSE</p>
