@model Vehicle 
@* Accedemos al modelo considerando que es una lista *@

<h2>Detalles del personaje</h2>
<p><strong>ID:</strong> @Model.id</p>
<p><strong>Nombre:</strong> @Model.name</p>
<p><strong>Marca:</strong> @Model.brand</p>
<p><strong>Vel. máxima:</strong> @Model.TOPSPEED</p>
<p><strong>Peso:</strong> @Model.WEIGHT</p>
<p><strong>Largo:</strong> @Model.LENGTH</p>
<p><strong>Ancho:</strong> @Model.WIDTH</p>
